@model MvcOffice.Models.TimeSetAlarm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TimeSetAlarm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlarmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlarmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.baoming)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.baoming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.signupTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.signupTime)
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.payTime)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.payTime)
                 <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.printTime)
        </dt>
      <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.printTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.writtenExaminationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.writtenExaminationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hysicalExaminationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hysicalExaminationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProposedAdmissionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProposedAdmissionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportingTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlarmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
