@model IEnumerable<MvcOffice.Models.PictureSum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="PictureDisplay" method="get">
    <div class="form-actions no-color">
        <p>
        @*    name为传参 value为实参*@
            Find by Url: 
            <input type="text" name="SearchString"  />
            @*<input type="text" name="sortOrder" value="@Model.DateSort" />*@
           
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="./Index">Back to full List</a>
        </p>
    </div>
</form>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.srcaddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detail2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.srcaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detail2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PictureSumId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PictureSumId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PictureSumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
