@model MvcOffice.Models.KengicAspnetcorePictureSum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KengicAspnetcorePictureSum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.srcaddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.srcaddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detail2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detail2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KengicAspnetcorePictureSumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-controller="PictureSums" asp-action="Index">Back to List1</a>
    <a asp-area="Product" asp-action="Index">Back to List2</a>
</div>
